<html>
    <body>
        <h1>${headerText}</h1>
        <div>
            <h2>Client information:</h2>
            <span>Full name: ${clientInfo.fullName}</span><br>
            <span>Phone number: ${clientInfo.phoneNumber}</span><br>
            <span>Email: ${clientInfo.email}</span><br>
            <span>Shipping: ${clientInfo.shipping}</span><br>
            <span>City: ${clientInfo.city}</span><br>
            <span>Payment: ${clientInfo.payment}</span><br>
        </div>
        <div>
            <h2>Order:</h2>
            <table>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Amount</td>
                </tr>

            #foreach ($thisProduct in $orderedProductsOfThisSeller)
                <tr>
                    <td>${thisProduct[0]}</td>
                    <td>${thisProduct[1]}$</td>
                    <td>${thisProduct[2]}</td>
                </tr>
            #end

            </table>
            <h3>Total: ${total}$</h3>
        </div>
    </body>
</html>